.checkItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ededed;
  padding: 5px;
  margin: .4rem 0;
}

.numberId {
  margin: 0 3px;
  width: 1.5em;
}

.checkItem > p, strike {
  margin: 0 5px;
  text-align: start;
}