@use '../../variables';
@use '../../themes/mixins';

.checkItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin: .4rem 0;
  border-bottom: 1px solid;
  @include mixins.theme-aware('border-bottom-color');
  p {
    margin: 0 5px;
    text-align: start;
  }
}

.numberId {
  @include mixins.theme-aware('color');
  margin: 0 3px;
  width: 1.5em;
}