$themes: (
  lightTheme: (
    backgroundColor: #FEF5EF,
    fontColor: #1B1B1E,
    clearColor: #FEF5EF,
    primaryColor: #F05D23,
    secondaryColor: #F48356,
    accentColor: #348AA7,
    accent2Color: #3f9fbe,
  ),
  darkTheme: (
    backgroundColor: #1B1B1E,
    fontColor: #FEF5EF,
    clearColor: #1B1B1E,
    primaryColor: #F48356,
    secondaryColor: #F05D23,
    accentColor: #3f9fbe,
    accent2Color: #348AA7,
  ),
  pastelTheme: (
    backgroundColor: #fffeef,
    fontColor: #383131,
    clearColor: #fffeef,
    primaryColor: #F07167,
    secondaryColor: #FED9B7,
    accentColor: #00AFB9,
    accent2Color: #00AFB9,
  ),
  greenTheme: (
    backgroundColor: #fffeef,
    fontColor: #696D7D,
    clearColor: #fffeef,
    primaryColor: #8FC0A9,
    secondaryColor: #68B0AB,
    accentColor: #C8D5B9,
    accent2Color: #d8e4ca,
  ),
  redTheme: (
    backgroundColor: #FFFCF8,
    fontColor: #1B2021,
    clearColor: #FFFCF8,
    primaryColor: #BC4B51,
    secondaryColor: #C25D5F,
    accentColor: #E7D7C1,
    accent2Color: #F3EADD,
  ),
  pinkTheme: (
    backgroundColor: #F9F4FD,
    fontColor: #252627,
    clearColor: #F9F4FD,
    primaryColor: #AEADE6,
    secondaryColor: #D4D1F2,
    accentColor: #E16F7C,
    accent2Color: #DE8994,
  )
)