@use 'variables';

html {
  background-color: variables.$clearColor;
  color: variables.$fontColor;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
