$backgroundColor: #ffe8dd;
$fontColor: #1B1B1E;
$clearColor: #FEF5EF;
$primaryColor: #F05D23;
$secondaryColor: #F48356;
$accentColor: #348AA7;
$accent2Color: #3f9fbe;
$fontFamily1: 'Lato', sans-serif;
$fontFamily2: Roboto, serif;

// Pastel one
// $fontColor: #383131;
// $clearColor: #fffeef;
// $primaryColor: #F07167;
// $secondaryColor: #FED9B7;
// $accentColor: #00AFB9;
// $accent2Color: #00AFB9;

// Green one
// $fontColor: #696D7D;
// $clearColor: #fffeef;
// $primaryColor: #8FC0A9;
// $secondaryColor: #68B0AB;
// $accentColor: #C8D5B9;
// $accent2Color: #d8e4ca;

// Dark theme one
// $fontColor: #FFFCFD;
// $clearColor: #0D161B;
// $primaryColor: #DBC2CF;
// $secondaryColor: #9FA2B2;
// $accentColor: #3C7A89;
// $accent2Color: #2E4756;

// Dark Theme two
// $fontColor: #FEF5EF;
// $clearColor: #1B1B1E;
// $primaryColor: #F48356;
// $secondaryColor: #F05D23;
// $accentColor: #3f9fbe;
// $accent2Color: #348AA7;